# Сборка и зависимости
node_modules/
dist/
dist-ssr/
*.local

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.stylelintcache

# Статика (если там есть минифицированные файлы)
public/
vendor/

# Специфичные файлы IDE и системные
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Конфиги, которые лучше не форматировать автоматически
package-lock.json
pnpm-lock.yaml
yarn.lock
